*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 218, 228);
  }
  
  .container{
    max-width: 400px;
    width : 90%;
    padding: 20px;
    box-shadow: 0px 0px 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .step{
    display: none;
  }
  
  .step.active{
    display: block;
  }
  
  .form-group{
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .form-group input{
    width: 100%;
    border: 1.5px solid rgba(63, 62, 63, 0.418);
    padding: 5px;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 4px;
  }
  
  button.next-btn,
  button.previous-btn,
  button.submit-btn{
    float: right;
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: rgb(255, 204, 212);
    font-family: "Helvetica";
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
  }
  
  button.previous-btn{
    float: left;
  }
  
  button.submit-btn{
    background-color: rgb(160, 251, 221);
  }